<div class="container">
	<div class="row login-form">
		<h1>Welcome! <%= @login.username %></h1>
	</div>
	<div class="login-form">
		<table class="table table-bordered">
			<tr>
				<th>User ID</th>
				<th>Username</th>
				<th>Password</th>
				<th>Roles</th>
			</tr>
			<tr>
				<td><%= @login.id %></td>
				<td><%= @login.username %></td>
				<td><%= @login.password%></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>